.poppins-Thin {
  font-family: 'Poppins-Thin', sans-serif;
}

.Poppins-ThinItalic {
  font-family: 'Poppins-ThinItalic', sans-serif;
}

.Poppins-ExtraLight {
  font-family: 'Poppins-ExtraLight', sans-serif;
}

.Poppins-ExtraLightItalic {
  font-family: 'Poppins-ExtraLightItalic', sans-serif;
}

.Poppins-Light {
  font-family: 'Poppins-Light', sans-serif;
}

.Poppins-LightItalic {
  font-family: 'Poppins-LightItalic', sans-serif;
}

.Poppins-Regular {
  font-family: 'Poppins-Regular', sans-serif;
}

.Poppins-Italic {
  font-family: 'Poppins-Italic', sans-serif;
}

.Poppins-Medium {
  font-family: 'Poppins-Medium', sans-serif;
}

.Poppins-MediumItalic {
  font-family: 'Poppins-MediumItalic', sans-serif;
}

.Poppins-SemiBoldItalic {
  font-family: 'Poppins-SemiBoldItalic', sans-serif;
}

.Poppins-SemiBold {
  font-family: 'Poppins-SemiBold', sans-serif;
}

.Poppins-Bold {
  font-family: 'Poppins-Bold', sans-serif;
}

.Poppins-BoldItalic {
  font-family: 'Poppins-BoldItalic', sans-serif;
}

.Poppins-ExtraBold {
  font-family: 'Poppins-ExtraBold', sans-serif;
}

.Poppins-ExtraBoldItalic {
  font-family: 'Poppins-ExtraBoldItalic', sans-serif;
}

.Poppins-Black {
  font-family: 'Poppins-Black', sans-serif;
}

.Poppins-BlackItalic {
  font-family: 'Poppins-BlackItalic', sans-serif;
}

.text-black {
  color: #000;
}

.text-lightGray {
  color: #999999;
  &:hover {
    @extend .text-lightGray;
  }
}

.text-darkGray {
   color: #424242;
 }

.l-h-1 {
  line-height: 1;
}

.fz-0 {
  font-size: 0;
}

.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 14px;
}

.fz-15 {
  font-size: 15px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px !important;
}

.fz-25 {
  font-size: 25px !important;
}

.fz-30 {
  font-size: 30px;
}

.fz-38 {
  font-size: 38px;
}

.fz-50 {
  font-size: 50px;
}

.fz-60 {
  font-size: 60px !important;
}