
// Website main content holder
.main-wrapper {
  margin: 0 auto;
}

// Menu
.navbar-brand {
  padding: 0;
}

.navbar-toggler {
  padding: 0;
  font-size: 0;
  outline: none !important;
  border-radius: 0!important;
  &[aria-expanded="true"] {
   .hamburger {
     transform: rotate(45deg);
     .top {
       stroke-dasharray: 17 82;
       stroke-dashoffset: -62px;
     }
     .middle {
       stroke-dashoffset: 23px;
     }
     .bottom {
       stroke-dashoffset: -83px;
     }
   }
  }
}

.navbar-toggler-icon {
  display: block;
  width: 50px;
  height: 50px;
  background-image: none;
}

.nav-item {
  padding: 2px 0;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: 2px;
    transition: .3s ease;
  }
  &.active {
    &:after {
      background-color: #000000;
    }
  }
}

.nav-link {
  letter-spacing: 2.7px;
  padding: 0;
  &:hover {
    color: #000;
  }
}

.hamburger {
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width: 5.5px;
    stroke-linecap:round;
  }
  .top {
    stroke-dasharray: 40 82;
  }
  .middle {
    stroke-dasharray: 40 111;
  }
  .bottom {
    stroke-dasharray: 40 161;
  }
}

// Banner
.banner {
  &__btn-group {
    margin-top: 20px;
  }
}

// Intro section
.intro {
  &__description  {
    &__title {
      line-height: 1.33;
      margin-bottom: 18px;
    }
  }
}

.intro-list {
  &__item {
    & + & {
      margin-top: 25px;
    }
  }
}

// Trust section
.trust {
  &__list {
    &__item {
      margin-top: 15px;
    }
  }
}

// Guide section
.guide {
  background-color: #e9eef2;
  &__desc {
    margin-top: 10px;
  }
  &-step--title {
    line-height: 2;
    margin-bottom: 5px;
  }
  &-step--desc {
    line-height: 1.57;
  }
}

//Testimonial section
.testimonial {
  position: relative;
  &__title {
    margin-bottom: 15px;
  }
  &__slider {
    padding: 0 40px;
    .owl-nav {
      > button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        outline: none;
        &.owl-prev {
          left: 0;
        }
        &.owl-next {
          right: 0;
        }
      }
    }
  }
}

.testimonial-user--img {
  width: 101px!important;
  margin: 0 auto 14px;
}

.testimonial-user--name {
  line-height: 1.63;
}

.testimonial-user--workplace {
  line-height: 2.17;
  letter-spacing: 1px;
}

.testimonial-user--cite {
  display: block;
  position: relative;
  padding-top: 40px;
  line-height: 1.5;
  color: #434242;
  &:before {
    content: "“";
    position: absolute;
    top: 0;
    height: 35px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    font-size: 120px;
    line-height: 1;
    color: #2971a3;
  }
}

// Sign Up section
.signup {
  background-color: #f0f3f6;
  &__title {
    margin-bottom: 10px;
  }
}

.custom-input {
  min-height: 40px;
  color: #5d6975;
  background-color: rgba(0,0,0,0);
  border: none !important;
  border-bottom: 1px solid #5d6975 !important;
  -webkit-appearance: none;
  border-radius: 0 !important
}


// Footer
.footer {
  &__right {
    flex: 1;
  }
}

.footer-menu {
  &__item {
    & + & {
      margin-top: 15px;
    }
  }
}

.social {
  &__link {
    & + & {
      margin-left: 15px;
    }
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 29px;
      width: 29px;
      min-height: 29px;
      height: 29px;
      border-radius: 50%;
      overflow: hidden;
      font-size: 16px;
    }
  }
}

.gray-social--icon {
  background-color: #999999;
  &:hover {
    color: inherit;
  }
}


