@media (max-width: 375px) {
  .banner {
    &__btn-group {
      flex-flow: column;
      > .btn {
        flex-grow: 1;
        & + .btn {
          margin-top: 10px;
        }
      }
    }
  }
  .signup {
    &__form  {
      .custom-input {
        width: 100%;
      }
    }
  }
}

@media (min-width: 376px) and (max-width: 767px) {
  .banner {
    &__btn-group {
      > .btn {
        flex-basis: calc((50%) - 5px);
        max-width: 240px;
      }
    }
  }
}

@media (min-width: 376px) {
  .banner {
    &__btn-group {
      > .btn {
        & + .btn {
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .signup {
    &__form {
      .btn {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}

@media (min-width: 576px) {
  .signup {
    &__form {
      .custom-input {
        flex-basis: calc((50%) - 15px);
        max-width: calc((50%) - 15px);
        &:nth-child(odd) {
          margin-right: auto;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .signup {
    &__form {
      .btn {
        flex-basis: calc((50%) - 15px);
        max-width: calc((50%) - 15px);
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .banner {
    &__content {
      transform: translateY(30%);
    }
  }
}

@media (max-width: 767px) {
  body {
    padding: 100px 0 0 !important;
  }
  .banner {
    &__title {
      font-size: 30px;
    }
    &__desc {
      font-size: 20px;
    }
  }
  .fz-16 {
    font-size: 14px;
  }
  .main-wrapper,
  .nav-logo-icon {
    min-width: 87.5%;
    max-width: calc(((100%) - 50px));
    width: 100%;
  }
  .nav-logo-icon {
    margin: 0 auto;
  }
  .btn {
    padding: 15px 10px;
    font-size: 12px;
  }
  .main-navbar {
    padding: 15px 0;
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.3);
    .navbar-collapse {
      padding: 0 calc(((100%) - (87.5%)) / 2);
      max-height: calc((100vh) - 80px);
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      overscroll-behavior: contain contain;
    }
  }
  .navbar-brand {
    max-width: 189px;
    margin: 0 auto;
  }
  .navbar-collapse {
    &.collapsing {
      transition: height 400ms;
    }
    .btn--purple-darkRed {
      display: block;
      max-width: 340px;
      margin: 35px auto 20px;
    }
  }
  .nav-item {
    min-height: 67px;
    &:not(.active) {
      &:after {
        background-color: #b2bac3;
      }
    }
  }
  .intro {
    padding: 32px 0 0;
    &__description {
      min-width: 87.5%;
      max-width: calc(((100%) - 50px));
      width: 100%;
      margin: 0 auto;
    }
  }
  .trust {
    padding: 35px 0 40px;
    &__title {
      font-size: 20px;
    }
    &__list {
      &__item {
        flex-basis: 40%;
        max-width: 40%;
      }
    }
  }
  .guide {
    padding: 35px 0;
    &__title {
      font-size: 30px;
    }
    &__desc {
      font-size: 14px;
      margin-bottom: 20px;
    }
    &__steps {
      margin-top: 20px;
      &__item {
        & + & {
          margin-top: 15px;
        }
      }
    }
    &-step--title {
      font-size: 20px;
    }
  }
  .testimonial {
    padding: 20px 0;
    &__title {
      font-size: 27px;
    }
  }
  .signup {
    padding: 25px 0 30px;
    &__title {
      font-size: 27px;
    }
    &__form {
      .custom-input {
        margin-bottom: 28px;
      }
    }
  }
  .footer {
    padding: 35px 0 70px;
    &__left {
      flex-basis: 100%;
      max-width: 100%;
      margin-bottom: 30px;
    }
    &__right {
      min-width: 100%;
    }
    &--logo {
      max-width: 189px;
    }
    .social {
      margin-top: 25px;
    }
  }
}

@media (min-width: 768px) {
  body {
    padding: 102px 0 0 !important;
  }
  .main-wrapper {
    width: 85.715%;
    max-width: 1400px;
  }
  .btn--purple-darkRed {
    &:hover {
      background-color: lighten(#96234f, 7%);
    }
  }
  .btn--darkBlue {
    &:hover {
      background-color: lighten(#2971a3, 7%);
    }
  }
  .intro {
    &__description {
      position: absolute;
    }
  }
  .trust {
    padding: 77px 0;
  }
  .fz-16 {
    font-size: 16px;
  }
  .btn {
    padding: 21px;
    font-size: 14px;
  }
  .nav-link {
    font-size: 14px;
  }
  .signup {
    padding: 70px 0 80px;
    &__form {
      .custom-input {
        margin-bottom: 40px;
      }
    }
  }
  .main-navbar {
    .navbar-brand {
      margin: 0;
    }
    .navbar-collapse {
      max-width: 1156px;
    }
  }
  .guide {
    padding: 72px 0 60px;
    &__desc {
      margin-bottom: 40px;
    }
  }
  .testimonial {
    padding: 60px 0;
    &__slider {
      &__item {
        max-width: 800px;
        margin: 0 auto;
      }
    }
  }
  .footer {
    padding: 70px 0 100px;
    &__right {
      max-width: 400px;
      margin-top: 20px;
    }
    .social {
      margin-top: 20px;
    }
    &--logo {
      max-width: 232px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    max-width: 160px;
  }
  .main-navbar {
    .navbar-nav {
      flex: 1;
      max-width: 380px;
      margin: 0 auto;
    }
    .nav-item {
      & + .nav-item {
        margin-left: auto;
      }
    }
  }
  .intro {
    padding: 21% 0 0;
    &__description {
      top: 50%;
      transform: translateY(-50%);
      right: calc(((100%) - (91.5%)) / 2);
      max-width: 300px;
    }
  }
  .guide {
    &__steps {
      margin-top: 25px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .trust {
    &__list {
      &__item {
        flex-basis: calc((25%) - 30px);
        max-width: calc((25%) - 30px);
        & + & {
          margin-left: auto;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    max-width: 244px;
  }
  .main-navbar {
    .navbar-nav {
      flex: 1;
      margin: 0 auto;
    }
    .nav-item {
      & + .nav-item {
        margin-left: auto;
      }
    }
  }
  .banner {
    &__content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
  .intro {
    &__description {
      right: calc(((100%) - (85.715%)) / 2);
      max-width: 343px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-navbar {
    .navbar-nav {
      max-width: 70%;
    }
  }
  .banner {
    padding-top: 14%;
  }
  .intro {
    &__description {
      top: 47%;
      transform: translateY(-53%);
    }
  }
}

@media (min-width: 1200px) {
  .main-navbar {
    padding: 8px 100px;
    .navbar-nav {
      max-width: 55%;
      & + .btn--purple-darkRed {
        flex-basis: 200px;
        max-width: 200px;
      }
    }
  }
  .banner {
    padding-top: 9%;
  }
  .intro {
    &__description {
      top: 40%;
      transform: translateY(-55%);
    }
  }
  .trust {
    &__list {
      &__item {
        flex-basis: calc((20%) - 70px);
        max-width: calc((20%) - 70px);
        & + & {
          margin-left: auto;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .banner {
    &__content {
      top: 5%;
    }
  }
}

@media (min-width: 1634px) {
  .intro {
    &__description {
      right: calc(((100vw) - (1400px)) / 2);
      max-width: 590px;
    }
  }
}

@media (min-width : 1824px) {
  .banner {
    padding-top: 0;
  }
}