.btn {
  font-family: 'Poppins-SemiBold', sans-serif;
  border-radius: 0;
  letter-spacing: 2.3px;
  line-height: .86;
}

.btn--purple-darkRed {
  background-color: #96234f;
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
}

.btn--darkBlue {
  background-color: #2971a3;
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
}

.border-none {
  border: none!important;
}

.tt-up {
  text-transform: uppercase;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute-fill {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ov-h {
  overflow: hidden;
}

.pd-0 {
  padding: 0 !important;
}

.bg-black {
  background-color: #000000;
}