<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Business Template"/>
    <link rel="stylesheet" href="../fonts/poppins-v5-latin/poppins-ff.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/libs/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/libs/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/main.min.css">
    <title><%- title -%></title>
</head>
<body>