  <script src="../js/libs/jquery.min.js"></script>
  <script src="../js/libs/popper.min.js"></script>
  <script src="../js/libs/bootstrap.min.js"></script>
  <script src="../js/libs/owl.carousel.min.js"></script>
  <script src="../js/main.min.js"></script>
</body>
</html>