<footer class="footer bg-black">
    <div class="main-wrapper d-flex flex-wrap justify-content-md-between">
        <div class="footer__left d-flex flex-column align-items-center align-items-md-start">
            <img src="../img/logo-gray.png" alt="Logo" class="footer--logo">
            <ul class="social d-flex">
                <li class="social__link">
                    <a href="" class="social__link__icon gray-social--icon text-black fab fa-twitter"></a>
                </li>
                <li class="social__link">
                    <a href="" class="social__link__icon gray-social--icon text-black fab fa-linkedin-in"></a>
                </li>
                <li class="social__link">
                    <a href="" class="social__link__icon gray-social--icon text-black fab fa-facebook-f"></a>
                </li>
            </ul>
        </div>
        <div class="footer__right d-flex justify-content-between justify-content-md-around justify-content-lg-around align-items-start w-100">
            <ul class="footer-menu">
                <li class="footer-menu__item text-white tt-up fz-14 Poppins-SemiBold">product</li>
                <li class="footer-menu__item">
                    <a href="" class="footer-menu--link text-lightGray fz-14 Poppins-Medium">Benefits</a>
                </li>
                <li class="footer-menu__item">
                    <a href="" class="footer-menu--link text-lightGray fz-14 Poppins-Medium">Tour</a>
                </li>
            </ul>
            <ul class="footer-menu">
                <li class="footer-menu__item text-white tt-up fz-14 Poppins-SemiBold">support</li>
                <li class="footer-menu__item">
                    <a href="" class="footer-menu--link text-lightGray fz-14 Poppins-Medium">Docs</a>
                </li>
                <li class="footer-menu__item">
                    <a href="" class="footer-menu--link text-lightGray fz-14 Poppins-Medium">Learning</a>
                </li>
                <li class="footer-menu__item">
                    <a href="" class="footer-menu--link text-lightGray fz-14 Poppins-Medium">Contact</a>
                </li>
            </ul>
            <ul class="footer-menu">
                <li class="footer-menu__item text-white tt-up fz-14 Poppins-SemiBold">company</li>
                <li class="footer-menu__item">
                    <a href="" class="footer-menu--link text-lightGray fz-14 Poppins-Medium">About</a>
                </li>
                <li class="footer-menu__item">
                    <a href="" class="footer-menu--link text-lightGray fz-14 Poppins-Medium">Team</a>
                </li>
                <li class="footer-menu__item">
                    <a href="" class="footer-menu--link text-lightGray fz-14 Poppins-Medium">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</footer>