<div class="banner bg-white relative">
    <div class="banner__content text-center">
        <div class="main-wrapper">
            <div class="banner__title fz-50 tt-up">
                <h1 class="Poppins-SemiBold">impress your clients</h1>
                <h1 class="Poppins-Light">save time and money</h1>
            </div>
            <p class="banner__desc fz-30">
                Megalytic provides client reports and dashboards that make your agency look good.
            </p>
            <div class="banner__btn-group d-flex justify-content-center">
                <a href="#" class="btn btn--darkBlue tt-up">try for free</a>
                <a href="#" class="btn btn--darkBlue tt-up">request a demo</a>
            </div>
        </div>
    </div>
    <img src="../img/home-banner-bg.jpg" class="banner__bg" alt="">
</div>