<div class="testimonial">
    <div class="main-wrapper">
        <h2 class="testimonial__title fz-38 tt-up Poppins-Light text-center">hear from our customers</h2>
        <div class="owl-carousel testimonial__slider">
            <div class="testimonial__slider__item text-center">
                <img src="../img/testimonial-user.jpg" alt="User" class="rounded-circle ov-h testimonial-user--img">
                <h5 class="testimonial-user--name">Lauren Shriver</h5>
                <h6 class="testimonial-user--workplace Poppins-SemiBold fz-12 text-muted">Studio III</h6>
                <cite class="Poppins-LightItalic testimonial-user--cite">
                    With over 70 reports monthly, Megalytic is a lifesaver. The reports are professional, and the
                    selection of widgets is extensive. Plus, the customer service is always excellent, with questions
                    answered promptly.
                </cite>
            </div>
            <div class="testimonial__slider__item text-center">
                <img src="../img/testimonial-user.jpg" alt="User" class="rounded-circle ov-h testimonial-user--img">
                <h5 class="testimonial-user--name">Lauren Shriver</h5>
                <h6 class="testimonial-user--workplace Poppins-SemiBold fz-12 text-muted">Studio III</h6>
                <cite class="Poppins-LightItalic testimonial-user--cite">
                    With over 70 reports monthly, Megalytic is a lifesaver. The reports are professional, and the
                    selection of widgets is extensive. Plus, the customer service is always excellent, with questions
                    answered promptly.
                </cite>
            </div>
            <div class="testimonial__slider__item text-center">
                <img src="../img/testimonial-user.jpg" alt="User" class="rounded-circle ov-h testimonial-user--img">
                <h5 class="testimonial-user--name">Lauren Shriver</h5>
                <h6 class="testimonial-user--workplace Poppins-SemiBold fz-12 text-muted">Studio III</h6>
                <cite class="Poppins-LightItalic testimonial-user--cite">
                    With over 70 reports monthly, Megalytic is a lifesaver. The reports are professional, and the
                    selection of widgets is extensive. Plus, the customer service is always excellent, with questions
                    answered promptly.
                </cite>
            </div>
        </div>
    </div>
</div>
