<section class="trust bg-white">
    <div class="main-wrapper">
        <h2 class="fz-30 Poppins-Light trust__title text-center">Trusted by thousands of companies around the world</h2>
        <ul class="trust__list d-flex flex-wrap align-items-center justify-content-around">
            <li class="trust__list__item"><img src="../img/dealer-socket-logo.jpg" class="w-100" alt="Partner logo"></li>
            <li class="trust__list__item"><img src="../img/ad-services-logo.jpg" class="w-100" alt="Partner logo"></li>
            <li class="trust__list__item align-self-end"><img src="../img/isobar-logo.jpg" class="w-100" alt="Partner logo"></li>
            <li class="trust__list__item"><img src="../img/allrise-logo.jpg" class="w-100" alt="Partner logo"></li>
            <li class="trust__list__item d-none d-xl-block align-self-xl-end"><img src="../img/expert-logo.jpg" class="w-100" alt="Partner logo"></li>
        </ul>
    </div>
</section>