<section class="guide">
    <div class="main-wrapper Poppins-Light">
        <h1 class="guide__title fz-50 tt-up text-darkGray text-center">get up and running in minutes</h1>
        <p class="guide__desc fz-30 Poppins-Regular">
            With Megalytic, there's no need to study a manual to get started.
            With just a few clicks, you can create reports and dashboards that will impress your clients. Let us know if you want a demo. We can train your whole team in minutes.
        </p>
        <div class="d-flex flex-wrap">
            <div class="col-lg-6">
                <img src="../img/infographic.png" alt="Guide image" class="guide__bg">
            </div>
            <div class="col-lg-6">
                <ul class="guide__steps">
                    <li class="guide__steps__item">
                        <h2 class="guide-step--title fz-30 tt-up">connect</h2>
                        <article class="guide-step--desc Poppins-Regular">
                            Megalytic connects to the marketing data that matters to you and your clients. It only take
                            a couple of clicks to authorize access to Google Google Analytics, Adwords, Bing Ads, Search
                            Console, Facebook Pages, Facebook Ads, and more. More data sources are being integrated all the
                            time. Plus, you can upload CSV data from any source. Or even host data in a Google Sheet and pull
                            it right into Megalytic.
                        </article>
                    </li>
                    <li class="guide__steps__item">
                        <h2 class="guide-step--title fz-30 tt-up">create</h2>
                        <article class="guide-step--desc Poppins-Regular">
                            Anybody can create awesome reports with Megalytic. To get started, we have built-in templates for
                            common reporting requirements like SEO, PPC, Facebook, etc. Just plus in your data and have your
                            first report finished in minutes. Next, edit our templates to match your own brand. Tweak charts.
                            Modify dates. Adjust colors, logos, and fonts. Add text and cover pages to personalize reports for
                            each specific client.
                        </article>
                    </li>
                    <li class="guide__steps__item">
                        <h2 class="guide-step--title fz-30 tt-up">share</h2>
                        <article class="guide-step--desc Poppins-Regular">
                            Whatever format you and your clients want, Megalytic delivers. Email reports as PDFs; share them as
                            links; or publish data in dashboards. Reports can be scheduled to deliver monthly, weekly, or
                            whenever you want. Create email lists to manage who receives your reports. Data is updated
                            automatically, so you don't need to worry about refreshing report data every month. Megalytic
                            removes the grunt work for fully automated client reporting. So, you can focus on delivering results
                            for your client.
                        </article>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</section>