<section class="intro relative">
    <div class="intro__description">
        <h3 class="fz-30 tt-up Poppins-Light intro__description__title text-center text-md-left">What is Megalytic?</h3>
        <ul class="intro-list fz-16">
            <li class="intro-list__item">Megalytic is a client reporting and dashboard tool used by digital marketing agencies and website hosting companies.</li>
            <li class="intro-list__item">We make it easy for busy people to create great looking reports that clients love.</li>
            <li class="intro-list__item">Megalytic automates the tedious, repetitive work of monthly reporting. Your clients receive timely and useful reports that make you look good.</li>
        </ul>
    </div>
    <img src="../img/notebook.jpg" class="intro__bg " alt="img">
</section>





