<nav class="navbar navbar-expand-md justify-content-md-center fixed-top bg-white main-navbar">
    <div class="nav-logo-icon d-flex align-items-center">
        <button class="navbar-toggler border-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <svg viewBox="0 0 100 100" width="50" class="hamburger">
                    <path class="line top" d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013" />
                    <path class="line middle" d="m 70,50 h -40" />
                    <path class="line bottom" d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40" />
                </svg>
            </span>
        </button>
        <a class="navbar-brand d-block" href="#">
            <img src="../img/logo.png" class="w-100" alt="Logo">
        </a>
    </div>
    <div class="collapse navbar-collapse justify-content-md-around justify-content-lg-start Poppins-SemiBold" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item d-flex align-items-center active">
                <a class="nav-link pd-0 text-black tt-up Poppins-SemiBold" href="#">benefits <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item d-flex align-items-center">
                <a class="nav-link pd-0 text-black tt-up Poppins-SemiBold" href="#">solutions</a>
            </li>
            <li class="nav-item d-flex align-items-center">
                <a class="nav-link pd-0 text-black tt-up Poppins-SemiBold" href="#">plans</a>
            </li>
            <li class="nav-item d-flex align-items-center">
                <a class="nav-link pd-0 text-black tt-up Poppins-SemiBold" href="#">signin</a>
            </li>
        </ul>
        <a class="btn btn--purple-darkRed tt-up Poppins-SemiBold" href="#">Free Trial</a>
    </div>
</nav>