<section class="signup">
    <div class="main-wrapper">
        <h2 class="signup__title fz-38 tt-up Poppins-Light text-center">sign up for a free trial</h2>
        <form class="signup__form d-flex flex-wrap">
            <input type="text" placeholder="Name" class="custom-input w-100">
            <input type="text" placeholder="Company" class="custom-input w-100">
            <input type="email" placeholder="Email Address" class="custom-input w-100">
            <input type="text" placeholder="Phone Number" class="custom-input w-100">
            <input type="submit" class="btn btn--purple-darkRed tt-up" value="start your free trial">
        </form>
    </div>
</section>