<%- include('partials/block-top.ejs', {title: "Home"}); -%>
<% include partials/navbar.ejs %>
<% include partials/home-banner.ejs %>
<% include partials/home-intro.ejs %>
<% include partials/home-trust.ejs %>
<% include partials/home-guide.ejs %>
<% include partials/home-testimonial.ejs %>
<% include partials/signup-section.ejs %>
<% include partials/footer.ejs %>
<% include partials/block-bottom.ejs %>